<div class="ml-3 mr-3 mt-4 mb-5 p-3 panel-style">

  <div class="row">
    <div class="rgb-sliders col-lg-9">
      <div class="red-slider mb-2">
      <ng5-slider id="red" [(value)]="redValue" [options]="redSliderOptions" (userChange)="onUserChange('red', $event)"></ng5-slider>
      </div>
      <div class="green-slider mb-2">
      <ng5-slider id="green" [(value)]="greenValue" [options]="greenSliderOptions" (userChange)="onUserChange('green', $event)"></ng5-slider>
      </div>
      <div class="blue-slider mb-2">
      <ng5-slider id="blue" [(value)]="blueValue" [options]="blueSliderOptions" (userChange)="onUserChange('blue', $event)"></ng5-slider>
      </div>
      <div class="speed-slider mb-3">
        <div class="pt-4 speed-style">SPEED:</div>
      <ng5-slider id="speed" [(value)]="speedValue" [options]="speedSliderOptions" (userChange)="onUserChange('speed', $event)"></ng5-slider>
      </div>
    </div>
    <div class="col-lg-3 horizontal-center">
      <app-radial-color-picker
      [size]="240"
      [centerRadius]="30"
      [redValue]="redValue"
      [greenValue]="greenValue"
      [blueValue]="blueValue"
      (color)="onColorPickerChange($event)"
      ></app-radial-color-picker>
    </div>
  </div>
  <div class="mt-3 mb-2 horizontal-center-buttons">
  
      <div class="btn-group-custom btn-group btn-group-toggle " data-toggle="buttons">
        <label class="btn btn-primary mt-2" [class.active]="isModeActive(mode)" *ngFor="let mode of modesList" (click)="setMode(mode)">
          <input type="radio" name="options" id="MODE{{mode}}" autocomplete="off" checked="">
          MODE {{mode}}
        </label>
      </div>

      <div class="btn-group-custom horizontal-center-buttons">
          <button class="btn btn-danger mt-2 ml-4 mr-4" (click)="setMode('0')">OFF</button>
      </div>

  </div>

</div>
