.panel-style{
  background: #202020;
  border-radius: 6px;
}

::ng-deep .rgb-sliders .red-slider .ng5-slider .ng5-slider-pointer {
	background: rgb(255, 0, 0) !important;
}

::ng-deep .rgb-sliders .green-slider .ng5-slider .ng5-slider-pointer {
	background: rgb(0, 255, 0) !important;
}

::ng-deep .rgb-sliders .blue-slider .ng5-slider .ng5-slider-pointer {
	background: rgb(0, 0, 255) !important;
}

::ng-deep .rgb-sliders .speed-slider .ng5-slider .ng5-slider-pointer {
  background: rgb(150, 150, 150) !important;
}

.speed-slider{
  display: flex;
}

.horizontal-center {
  text-align: center;
  justify-content: center;
  display: flex;
}

.horizontal-center-buttons {
  text-align: center;
}

.speed-style {
  text-align: center;
  width: 30%;
}

.btn-group-custom{
  display: contents;
}
