<div>
  <div class="form-group" *ngIf="setup.fieldRequest.devCategory">
    <div style="margin-bottom: 5px;">
      Select category:
    </div>

    <div class="mb-2 drop-down">
      <select class="col-sm-6 form-control" id="selectCond" [(ngModel)]="action.devCategory" >
        <option *ngFor="let cat of deviceManager.categoriesList" [ngValue]="cat.id">
          {{cat.name}}
        </option>
      </select>
    </div>

  </div>


  <div class="form-group" *ngIf="setup.fieldRequest.devAddress">
    <div style="margin-bottom: 5px;">
      Select device:
    </div>

    <div  class="mb-2 drop-down">
      <select class="col-sm-6 form-control" id="selectDev" [(ngModel)]="action.devAddress">
        <option *ngFor="let device of getDevicesForSelectedCategory() | orderBy: 'name'" [ngValue]="device.address">
          {{device.name}}
        </option>
      </select>
    </div>

  </div>

  <div class="form-group" *ngIf="setup.fieldRequest.devCommand">
    <div style="margin-bottom: 5px;">
      Select parameter:
    </div>

    <div  class="mb-2 drop-down">
      <select class="col-sm-6 form-control" id="selectParam" [(ngModel)]="action.devCommand" >
        <option *ngFor="let param of getParamsForSelectedCategory()" [ngValue]="param">
          {{param}}
        </option>
      </select>
    </div>

  </div>

  <div class="form-group" *ngIf="setup.fieldRequest.devCommandValue">
    <div style="margin-bottom: 5px;">
      Input value:
    </div>

    <div  class="mb-2 drop-down">
      <input type="number" [(ngModel)]="action.devCommandValue" class="col-sm-6 form-control" id="inputName" >
    </div>

  </div>
</div>
