<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container mt-2 ">

  <div class="advanced-mode-switch mt-3 mb-3">
    <ui-switch
      size="small"
      switchColor="#fcfcfc"
      color="rgb(35,255,150);"
      defaultBgColor="rgb(255,80,80);"
      defaultBoColor="black"
      [(ngModel)]="advancedModeEnabled"
      (change)="onSwitchModeChange()"></ui-switch>
    <div class="ml-3">
      Advanced commands
    </div>
  </div>

  <div *ngIf="!advancedModeEnabled" class="panel panel-default">
    <div class="panel-body">
      <div class="mb-2 search-device">

        <input class="form-control col-lg-6 col-xs-10 mr-1" type="text" [(ngModel)]="keysearch" (input)="onKeySearch()" placeholder="Search device by name, uid, category:address">
        <button type="button" *ngIf="keysearch?.length > 0" class="btn btn-default" (click)="clearKeySearch()" style="min-width: 70px;">Clear</button>

      </div>

      <div *ngIf="searchResults?.length > 0" class="search-results col-lg-6 col-xs-10 mb-2 pl-2">
        <span *ngFor="let result of searchResults" (click)="onSearchResultClick(result)" class="search-result">
          {{result.name}}<br/>
        </span>
      </div>

      <div class="form-group">
        <div class="mb-1">
          Select category:
        </div>
        <div class="bs-component">
          <div class="btn-group-custom btn-group btn-group-toggle " data-toggle="buttons">
            <label class="btn btn-secondary mb-1" [ngClass]="(selectedCategory && (selectedCategory.id == cat.id)) ? 'active':''" *ngFor="let cat of deviceManager.getAllCategories()" (click)="loadDevices(cat, null)">
              <input type="radio" name="options" id="{{cat.name}}" autocomplete="off" checked="">
              {{cat.name}}
            </label>
          </div>
        </div>

      </div>

      <div class="form-group" *ngIf="deviceManager.getDevicesInCategory(selectedCategory)?.length > 0">
        <div class="mb-1">
          Select device:
        </div>

        <div  class="mb-1">
          <select class="form-control col-lg-6 col-xs-12"  id="select" [(ngModel)]="selectedDevice" (change)="onChange()">
            <option *ngFor="let device of filteredDevicesList | orderBy: 'name'" [ngValue]="device">
              {{device.name}} [{{device.category | number : '2.0-0'}}:{{device.address | number : '2.0-0'}}]
            </option>
          </select>
        </div>
        <div class="mb-2 name-filter">

          <input class="form-control col-lg-6 col-xs-10 mr-1" type="text" [(ngModel)]="filter" (input)="onFilterChange()" placeholder="Filter names">
          <button type="button" *ngIf="filter?.length > 0" class="btn btn-default" (click)="clearFilters()" style="min-width: 70px;">Clear</button>

        </div>

      </div>

      <div *ngIf="selectedDevice !== undefined">
        <div class="form-group">
          <div class="mb-1">
            Device name:
          </div>

          <span class="mb-1">
            <input type="text" [(ngModel)]="selectedDeviceName" class="form-control col-lg-6 col-xs-12 mb-1" id="inputName">
            <button *ngIf="selectedDevice && (selectedDevice.name != selectedDeviceName)" class="btn btn-primary" (click)="onSaveName()">Save</button>
          </span>

        </div>

        <div class="advanced-mode-switch mt-3 mb-3 mt-5" *ngIf="showAdvanceControlSwitch()">
          <ui-switch
            size="small"
            switchColor="#fcfcfc"
            color="rgb(35,255,150);"
            defaultBgColor="rgb(255,80,80);"
            defaultBoColor="black"
            [(ngModel)]="advancedControlEnabled"
            (change)="onSwitchControlChange()"></ui-switch>
          <div class="ml-3">
            Visual control
          </div>
        </div>

        <div class="row" *ngIf="!advancedControlEnabled">
          <div class="col-lg-6">
            <div class="mb-1">
              Device parameters:
            </div>

            <div class="bs-component">
              <table class="table table-striped table-hover ">
                <thead>
                <tr>
                  <th>Parameter</th>
                  <th>Value</th>
                  <th>Hex</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let parameter of selectedCategory.parameters">
                  <td>{{parameter}}</td>
                  <td>{{selectedDevice.parameters[parameter]}}</td>
                  <td>{{selectedDevice.parameters[parameter] | hexTransform}}</td>
                </tr>

                </tbody>
              </table>
            </div>

            <button class="btn btn-primary mb-2" (click)="loadParameters()">Load parameters</button>
          </div>

          <div class="col-lg-6" *ngIf="selectedDevice != undefined">
            <div class="mb-1">
              Device commands:
            </div>

            <div class="mb-1 mr-3 ml-3">
              <div class="mb-1 row" *ngFor="let command of selectedCategory.commands">
                <button class="btn btn-secondary col-lg-4" (click)="makeCommand(command)" >{{command}}</button>
                <input type="text" placeholder="decimal" [(ngModel)]="selectedDevice.commands[command]" class="form-control col-lg-4 col-6" id="inputValue" (input)="onDecValChange($event.target.value, command)">
                <input type="text" placeholder="hex" [(ngModel)]="hexValues[command]" class="form-control col-lg-4 col-6" id="inputValue" (input)="onHexValChange($event.target.value, command)">
              </div>
            </div>

          </div>
        </div>

        <div class="" *ngIf="advancedControlEnabled">
            <app-device-advance-control-pwm [device]="selectedDevice" *ngIf="checkCategorySelected('PWM')"></app-device-advance-control-pwm>
            <app-device-advance-control-rgb [device]="selectedDevice" *ngIf="checkCategorySelected('RGB')"></app-device-advance-control-rgb>
        </div>

        <div class="form-group mt-3">
          <div class="mb-1">
            Device details:
          </div>
          <div class="mb-3">
            Device category: {{selectedDevice.category}}<br/>
            Device address: {{selectedDevice.address}}<br/>
            Device active: {{selectedDevice.active}}<br/>
            Device UID: {{selectedDevice.uid}} ({{selectedDevice.uid | hexTransform}})<br/>
            Reset counter: {{selectedDevice.resetCounter}}<br/>
            Watchdog counter: {{selectedDevice.wdtCounter}}<br/>
            Last seen time: {{selectedDevice.lastSeen}}<br/>
            <span *ngIf="selectedDevice.lastStartup != null">Last startup time: {{selectedDevice.lastStartup}}</span>
            <span *ngIf="selectedDevice.lastStartup == null">Last startup time: before system startup, no data available</span>
          </div>
        </div>

        <div class="form-group mt-3">
          <button class="btn btn-danger mr-2" (click)="showPopup(BOOT_REQUEST)" >Boot device</button>
          <button class="btn btn-danger" (click)="showPopup(REMOVE_REQUEST)" >Remove device</button>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="advancedModeEnabled" class="panel panel-default">

    <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
      <label class="btn btn-secondary" *ngFor="let func of advancedFunctions" (click)="setAdvFunc(func)">
        <input type="radio" name="options" autocomplete="off" checked=""> {{func}}
      </label>
    </div>

    <div *ngIf="selectedAdvFunc == ADV_FUNC_UPLOAD">
      <div class="mb-1">
        Select firmware:
      </div>

      <div  class="mb-1">
        <select class="form-control col-lg-6 col-xs-12"  id="selectFirmware" [(ngModel)]="selectedFile">
          <option *ngFor="let file of filesList">
            {{file}}
          </option>
        </select>
      </div>

      <div class="form-group mt-3" *ngIf="selectedFile !== undefined">
        <button class="btn btn-primary" (click)="uploadFirmware()" >Upload</button>
      </div>

    </div>

    <div *ngIf="selectedAdvFunc == ADV_FUNC_REMOVE">
      <div class="mb-1">
        Select category:
      </div>

      <div  class="mb-1">
        <select class="form-control col-lg-6 col-xs-12"  id="selectCat" [(ngModel)]="selectedCatAdv">
          <option *ngFor="let cat of deviceManager.getAllCategories()">
            {{cat.name}}
          </option>
        </select>
      </div>

      <div class="mb-1">
        Address from:
      </div>
      <div>
        <input type="text" [(ngModel)]="removeAdrBegin" class="form-control col-lg-6 col-xs-12 mb-1" id="adrStart">
      </div>

      <div class="mb-1">
        Address to:
      </div>
      <div>
        <input type="text" [(ngModel)]="removeAdrEnd" class="form-control col-lg-6 col-xs-12 mb-1" id="adrStop">
      </div>

      <div class="form-group mt-3" *ngIf="selectedCatAdv !== undefined">
        <button class="btn btn-primary" (click)="removeDevices()" >Remove</button>
      </div>

    </div>
    <div *ngIf="selectedAdvFunc == ADV_FUNC_OTHER">
      <button class="btn btn-primary" (click)="initDevices()" >Init devices</button>

    </div>


  </div>

</div>

