<div class="pt-3 pl-3">
  <div class="socket-row">
    <div class="socket-name">
      Kuchnia gniazdko 1
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success mb-2" (click)="setSocketPower(true, 'kuchnia_gniazdko_01')">WŁĄCZ</button>
      <button type="button" class="btn btn-danger mb-2" (click)="setSocketPower(false, 'kuchnia_gniazdko_01')">WYŁĄCZ</button>
    </div>
  </div>
  <div class="socket-row">
    <div class="socket-name">
      Kuchnia gniazdko 2
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success mb-2" (click)="setSocketPower(true, 'kuchnia_gniazdko_02')">WŁĄCZ</button>
      <button type="button" class="btn btn-danger mb-2" (click)="setSocketPower(false, 'kuchnia_gniazdko_02')">WYŁĄCZ</button>
    </div>
  </div>
  <div class="socket-row">
    <div class="socket-name">
      Kuchnia gniazdko 3
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success mb-2" (click)="setSocketPower(true, 'kuchnia_gniazdko_03')">WŁĄCZ</button>
      <button type="button" class="btn btn-danger mb-2" (click)="setSocketPower(false, 'kuchnia_gniazdko_03')">WYŁĄCZ</button>
    </div>
  </div>
  <div class="socket-row">
    <div class="socket-name">
      Kuchnia gniazdko 4
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success mb-2" (click)="setSocketPower(true, 'kuchnia_gniazdko_04')">WŁĄCZ</button>
      <button type="button" class="btn btn-danger mb-2" (click)="setSocketPower(false, 'kuchnia_gniazdko_04')">WYŁĄCZ</button>
    </div>
  </div>
  <div class="socket-row">
    <div class="socket-name">
     Kuchnia gniazdko 5
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success mb-2" (click)="setSocketPower(true, 'kuchnia_gniazdko_05')">WŁĄCZ</button>
      <button type="button" class="btn btn-danger mb-2" (click)="setSocketPower(false, 'kuchnia_gniazdko_05')">WYŁĄCZ</button>
    </div>
  </div>
  <div class="socket-row">
    <div class="socket-name">
      Kuchnia gniazdko 6
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success mb-2" (click)="setSocketPower(true, 'kuchnia_gniazdko_06')">WŁĄCZ</button>
      <button type="button" class="btn btn-danger mb-2" (click)="setSocketPower(false, 'kuchnia_gniazdko_06')">WYŁĄCZ</button>
    </div>
  </div>
  <div class="socket-row">
    <div class="socket-name">
      Salon gniazdko
    </div>
    <div class="buttons">
      <button type="button" class="btn btn-success mb-2" (click)="setSocketPower(true, 'salon_gniazdko_01')">WŁĄCZ</button>
      <button type="button" class="btn btn-danger mb-2" (click)="setSocketPower(false, 'salon_gniazdko_01')">WYŁĄCZ</button>
    </div>
  </div>
  <button type="button" class="btn btn-primary custom-btn-primary btn-back mt-3" onclick="this.blur();"  [routerLink]="['/livingroom']" >WRÓĆ</button>
</div>
