.widget-container-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget-style {
  background-color: #353535;
  border-radius: 10px;
  padding: 10px;
}

.widget-buttons {
  text-align: center;
  display: grid;
}

.wide-button{
  width: 50%;
}

.modal-content-center {
  text-align: center;
}

.half-size {
  width: 50%;
}

.modal-body {
  text-align: -webkit-center;
}

.flash-message-container {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.flash-message {
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}
