<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container mt-2">
  <div class="panel">
    <div class="panel-body">
      <div class="form-group">
        <div>
          <button type="button" (click)="back()" class="btn btn-default mb-2 mr-2">Back</button>
          <button type="button" (click)="createAction()" class="btn btn-primary mb-2 mr-2">Add new widget actions</button>
        </div>

        <div class="mt-2 mb-2">
          Widget actions list:
        </div>

        <div class="bs-component">

          <div class="list-group" id="actionsList" *ngIf="widget != undefined">

            <button *ngFor="let action of actions" (click)="showActionSelectPopup(action)"
                    class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              <div class="action-group-name">
                {{action.getName(deviceManager)}}
              </div>
              <div class="action-group-buttons">
                <button type="button" class="btn btn-danger" (click)="onDeleteActionButton(action, $event)">Delete</button>
              </div>
            </button>
          </div>
        </div>

        <div class="mt-3">
          <!--<button type="button" *ngIf="operationManager.changed" class="btn btn-success mb-2 mr-2" (click)="onSaveOperations()">Save</button>-->
          <!--<button type="button" *ngIf="operationManager.changed" class="btn btn-default mr-4 mb-2" (click)="onCancelOperations()">Cancel</button>-->
          <!--<button type="button" (click)="goToOperationPage(0)" class="btn btn-primary mb-2 mr-2">Add new page</button>-->
        </div>

      </div>

    </div>
  </div>

</div>
