<div id="widget">
      <app-radial-color-picker
      [size]="140"
      [centerRadius]="20"
      [redValue]="redValue"
      [greenValue]="greenValue"
      [blueValue]="blueValue"
      (color)="onColorPickerChange($event)"
      (centerRadiusClick)="onCenterRadiusClick()"
      ></app-radial-color-picker>
  <div *ngIf="widget.name != undefined" class="widget-name mt-2" (click)="onNameClicked()">{{widget.name}}</div>
</div>
