<div class="row">
  <div class="col-lg-2">
      <select class="form-control" id="selectHour" [(ngModel)]="selectedHour" (change)="onHourChange($event.target.selectedIndex)">
        <option *ngFor="let hour of getHours()" [ngValue]="hour">
          {{hour}}
        </option>
      </select>
  </div>
  <div class="col-lg-2">
      <select class="form-control" id="selectMin" [(ngModel)]="selectedMinute" (change)="onMinuteChange($event.target.selectedIndex)">
        <option *ngFor="let minute of getMinutes()" [ngValue]="minute">
          {{minute | number:'2.0-0'}}
        </option>
      </select>
  </div>
  <div class="col-lg-2">
      <select class="form-control" id="selectSec" [(ngModel)]="selectedSecond" (change)="onSecondChange($event.target.selectedIndex)">
        <option *ngFor="let second of getMinutes()" [ngValue]="second">
          {{second | number : '2.0-0'}}
        </option>
      </select>
  </div>
</div>
