<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container mt-2">
  <div>
    <div class="panel-body">
      <div class="mb-1">
        <label class="form-control-label" for="inputName">Operation name:</label>
        <input type="text" [(ngModel)]="operation.name" class="form-control" id="inputName" style="width: 50%; margin-bottom: 5px;">
      </div>

      <div class="mb-1">
        <button type="button" class="btn btn-success" *ngIf="operation.active == '1'" (click)="onChangeActiveStatus()">Active</button>
        <button type="button" class="btn btn-danger" *ngIf="operation.active == '0'" (click)="onChangeActiveStatus()">Inactive</button>
      </div>

      <div class="bs-component mt-3" *ngIf="operation.type == 'normal'">
        <div class="pb-2">
          <label class="form-control-label col-lg-4" for="conditionList">Conditions list:</label>
          <a class="btn btn-primary" [routerLink]="['/condition', 0, 0]"  >
            Add condition
          </a>
        </div>

        <div class="list-group" id="conditionList">
          <button *ngFor="let condition of operation.conditions" (click)="goToConditionPage(condition)"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="item-name">
              {{condition.toString()}}
            </div>
            <div class="item-buttons">
              <button type="button" class="btn btn-secondary mr-2" (click)="cloneCondition(condition.id)">Clone</button>
              <button type="button" class="btn btn-danger" (click)="deleteCondition(condition.id)">Delete</button>
            </div>
          </button>
        </div>

        <div class="mb-2 mt-2 ext-logic">

          <input class="form-control col-lg-3 col-xs-10 mr-1" type="text" [(ngModel)]="operation.conditionsExtLogic" (keypress)="restrictLogicPattern($event)" placeholder="Extended logic">
          <button type="button" *ngIf="operation.conditionsExtLogic?.length > 0" class="btn btn-default" (click)="clearExtLogic(null)" style="min-width: 70px;">Clear</button>

        </div>

      </div>

      <div class="bs-component mt-3" *ngIf="operation.type == 'delayed'">
        <div class="pb-2">
          <label class="form-control-label col-lg-4" for="startConditionList">Start Conditions list:</label>
          <a class="btn btn-primary" [routerLink]="['/condition', 1, 0]"  >
            Add condition
          </a>
        </div>

        <div class="list-group" id="startConditionList">
          <button *ngFor="let condition of operation.startConditions()" (click)="goToConditionPage(condition)"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="item-name">
              {{condition.toString()}}
            </div>
            <div class="item-buttons">
              <button type="button" class="btn btn-secondary mr-2" (click)="cloneCondition(condition.id)">Clone</button>
              <button type="button" class="btn btn-danger" (click)="deleteCondition(condition.id)">Delete</button>
            </div>
          </button>
        </div>

        <div class="mb-2 mt-2 ext-logic">

          <input class="form-control col-lg-3 col-xs-10 mr-1" type="text" [(ngModel)]="operation.conditionsExtLogic" (keypress)="restrictLogicPattern($event)" placeholder="Extended logic">
          <button type="button" *ngIf="operation.conditionsExtLogic?.length > 0" class="btn btn-default" (click)="clearExtLogic(null)" style="min-width: 70px;">Clear</button>

        </div>

      </div>

      <div class="bs-component mt-3" *ngIf="operation.type == 'delayed'">
        <div class="pb-2">
          <label class="form-control-label col-lg-4" for="stopConditionList">Stop Conditions list:</label>
          <a class="btn btn-primary" [routerLink]="['/condition', 2, 0]"  >
            Add condition
          </a>
        </div>

        <div class="list-group" id="stopConditionList">
          <button *ngFor="let condition of operation.stopConditions()" (click)="goToConditionPage(condition)"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="item-name">
              {{condition.toString()}}
            </div>
            <div class="item-buttons">
              <button type="button" class="btn btn-secondary mr-2" (click)="cloneCondition(condition.id)">Clone</button>
              <button type="button" class="btn btn-danger" (click)="deleteCondition(condition.id)">Delete</button>
            </div>
          </button>
        </div>

        <div class="mb-2 mt-2 ext-logic">

          <input class="form-control col-lg-3 col-xs-10 mr-1" type="text" [(ngModel)]="operation.stopConditionsExtLogic" (keypress)="restrictLogicPattern($event)" placeholder="Extended logic">
          <button type="button" *ngIf="operation.stopConditionsExtLogic?.length > 0" class="btn btn-default" (click)="clearExtLogic('stop')" style="min-width: 70px;">Clear</button>

        </div>

      </div>



      <div class="bs-component mt-3">

        <div class="pb-2">
          <label class="form-control-label col-lg-4" for="actionList">Actions list:</label>
          <a class="btn btn-primary" [routerLink]="['/action', 0]"  >
            Add action
          </a>
        </div>

        <div class="list-group" id="actionList">
          <button *ngFor="let action of operation.actions" (click)="goToActionPage(action)"
                  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="item-name">
              {{action.toString()}}
            </div>
            <div class="item-buttons">
              <button type="button" class="btn btn-danger" (click)="deleteAction(action.id)">Delete</button>
            </div>
          </button>
        </div>

      </div>

      <div class="bs-component mt-2" *ngIf="operation.type == 'delayed'" >
        <label class="form-control-label" for="inputDelay">Delay value in seconds:</label>
        <input type="text" [(ngModel)]="operation.delay" class="form-control" id="inputDelay" style="width: 20%;">
      </div>

      <div class=" mt-3 mb-3">
        <button class="btn btn-success mr-2" (click)="onSaveOperation()">Save Operation</button>
        <button class="btn btn-default" (click)="onCancelOperation()">Cancel</button>
      </div>

    </div>
  </div>
</div>
