<div class="custom-container mt-2">
  <div *ngIf="editMode" class="flash-message-container">
    <div class="flash-message">
      <flash-messages></flash-messages>
    </div>
  </div>
  <div *ngIf="actionGroup != undefined">
    <div *ngIf="editMode" class="p-3">
      <button type="button" class="btn btn-default mb-2" (click)="onCancel()">Back</button>
      <button type="button" class="btn btn-primary ml-2 mb-2" (click)="addWidget()">Add widget</button>
    </div>
    <div *ngIf="editMode" class="p-3 col-sm-5 col-xs-12 col-lg-4">
		  <label class="form-control-label" for="inputName">Group name:</label>
      <input type="text" [(ngModel)]="groupName" class="form-control" id="inputName">
      <button type="button" *ngIf="groupName != actionGroup.name" class="btn btn-success mb-2 mr-2 mt-2" (click)="onSave()">Save</button>
	  </div>

    <div class="widgets-list">
      <div *ngFor="let widget of actionGroup.widgets" class="mr-2 ml-2 mt-3 widget-container-style">
        <div class="widget-style" *ngIf="showWidget(widget)">
          <app-action-widget-color-picker (nameClicked)="onNameClicked($event)" (onActionSetup)="onActionSetup($event)" (onAction)="onAction($event)" [widget]="widget" [editMode]="editMode" *ngIf="widget.type == 'rgb-picker'"></app-action-widget-color-picker>
          <app-action-widget-rgb-slider (nameClicked)="onNameClicked($event)" (onActionSetup)="onActionSetup($event)" (onAction)="onAction($event)" [widget]="widget" [editMode]="editMode" *ngIf="widget.type == 'rgb-slider'"></app-action-widget-rgb-slider>
          <app-action-widget-slider (nameClicked)="onNameClicked($event)" (onActionSetup)="onActionSetup($event)" (onAction)="onAction($event)" [widget]="widget" [editMode]="editMode" *ngIf="widget.type == 'slider'"></app-action-widget-slider>
          <app-action-widget-buttons (nameClicked)="onNameClicked($event)" (onActionSetup)="onActionSetup($event)" (onAction)="onAction($event)" [widget]="widget" [editMode]="editMode" *ngIf="widget.type == '1-button' || widget.type == '2-buttons' || widget.type == '3-buttons' || widget.type == '4-buttons'"></app-action-widget-buttons>
          <div id="widget-butons" class="widget-buttons mt-2" *ngIf="editMode">
            <button type="button" *ngIf="widget.active == true" class="btn btn-success mb-2" (click)="onInactivate(widget)">Active</button>
            <button type="button" *ngIf="widget.active == false" class="btn btn-warning mb-2" (click)="onActivate(widget)">Inactive</button>
            <button type="button" class="btn btn-primary mb-2" (click)="showEditWidgetPopup(widget)">Edit</button>
            <button type="button" class="btn btn-danger" (click)="showDeleteWidgetPopup(widget)">Delete</button>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="editMode" class="pl-3 pt-5">
      <button type="button" class="btn btn-default" (click)="onCancel()">Back</button>
      <button type="button" class="btn btn-primary ml-2" (click)="addWidget()">Add widget</button>
    </div>
  </div>
</div>
