.widget-container-style {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 160px;
  vertical-align: top;
}

.custom-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.widget-style {
  background-color: #353535;
  border-radius: 10px;
  padding: 10px;
}

.widget-buttons {
  text-align: center;
  display: grid;
}

.wide-button{
  width: 50%;
}

.modal-content-center {
  text-align: center;
}

.widgets-list {
  text-align: center;
}

.half-size {
  width: 50%;
}

.modal-body {
  text-align: -webkit-center;
}

::ng-deep .switch .form-control {
  display: inline;
}

.button-name {
  width: 70%;
}

.button-settings {
  width: 50%;
  text-align: left;
}

.flash-message-container {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.flash-message {
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}
