.panel-style {
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 50px;
}

.custom-btn-primary:hover{
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.custom-btn-primary:active{
  color: #ffffff;
  background-color: #1b698e;
  border-color: #15506c;
}

.rgb-sliders {
  width: 60%;
}

.horizontal-center {
  justify-content: flex-end;
  display: flex;
  width: 40%;
}

.btn-back {
  position: absolute;
  bottom: 0;
  height: 50px;
  left: 20px;
}

::ng-deep .rgb-sliders .red-slider .ng5-slider .ng5-slider-pointer {
  background: rgb(255, 0, 0) !important;
}

::ng-deep .rgb-sliders .green-slider .ng5-slider .ng5-slider-pointer {
  background: rgb(0, 255, 0) !important;
}

::ng-deep .rgb-sliders .blue-slider .ng5-slider .ng5-slider-pointer {
  background: rgb(0, 0, 255) !important;
}