<div class="row main-panel">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-padding">
    <div class="panel panel-default">
      <div class="panel-heading">
        Salon - oświetlenie
      </div>
      <div class="panel-body">
        <button type="button" id="livingroomlightsset1" class="btn btn-primary custom-btn-primary custom-btn" onclick="this.blur();" long-press  touch-button (onTouch)="setLivingRoomLightsFromConfig(1)" (onLongPress)="goToLivingRoomLightsPage(1)" >{{buttonNames['livingroomlightsset1']}}</button>
        <button type="button" id="livingroomlightsset2" class="btn btn-primary custom-btn-primary custom-btn" onclick="this.blur();" long-press  touch-button (onTouch)="setLivingRoomLightsFromConfig(2)" (onLongPress)="goToLivingRoomLightsPage(2)" >{{buttonNames['livingroomlightsset2']}}</button>
        <button type="button" id="livingroomlightsset3" class="btn btn-primary custom-btn-primary custom-btn" onclick="this.blur();" long-press  touch-button (onTouch)="setLivingRoomLightsFromConfig(3)" (onLongPress)="goToLivingRoomLightsPage(3)" >{{buttonNames['livingroomlightsset3']}}</button>
        <button type="button" id="livingroomlightsset4" class="btn btn-primary custom-btn-primary custom-btn" onclick="this.blur();" long-press  touch-button (onTouch)="setLivingRoomLightsFromConfig(4)" (onLongPress)="goToLivingRoomLightsPage(4)" >{{buttonNames['livingroomlightsset4']}}</button>
        <button type="button"  class="btn btn-primary custom-btn-primary custom-btn" onclick="this.blur();" [routerLink]="['/livingroomlights', 'livingroomlightsmanual']">DOSTOSUJ</button>

        <div>
          <button type="button" class="btn btn-primary custom-btn-primary custom-btn half-btn" onclick="this.blur();" touch-button (onTouch)="increaseAllLivingRoomLights()" long-press  >+</button>
          <button type="button" class="btn btn-primary custom-btn-primary custom-btn half-btn" style="float: right;" onclick="this.blur();" touch-button (onTouch)="decreaseAllLivingRoomLights()">-</button>
        </div>

        <button type="button" class="btn btn-danger custom-btn-danger custom-btn mb-0" onclick="this.blur();"  touch-button (onTouch)="livingroomLightsOff()">WYŁĄCZ</button>

      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-padding">
    <div class="panel panel-default">
      <div class="panel-heading">
        Salon - efekty
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-img-livingroom" onclick="this.blur();" [routerLink]="['/livingroomwalleffect']">
          <img src="assets/img/walleffect_sm.png" class="img-style-livingroom"/>
        </button>
        <button type="button" class="btn btn-danger custom-btn-danger custom-btn" onclick="this.blur();" style="margin-bottom: 27px;" touch-button (onTouch)="livingroomWallEffectOff()">WYŁĄCZ</button>
        <button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-img-livingroom" onclick="this.blur();" [routerLink]="['/livingroomceilingeffect']">
          <img src="assets/img/ceilingeffect_sm.png" class="img-style-livingroom"/>
        </button>
        <button type="button" class="btn btn-danger custom-btn-danger custom-btn mb-0" onclick="this.blur();" touch-button (onTouch)="livingroomCeilingEffectOff()">WYŁĄCZ</button>

      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-padding">
    <div class="panel panel-default">
      <div class="panel-heading">
        Kuchnia
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-img-kitchen" onclick="this.blur();" touch-button (onTouch)="switchKitchenMainLights()">
          <img src="assets/img/kitchen_main_sm.png" class="img-style-kitchen"/>
        </button>

        <button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-img-kitchen" onclick="this.blur();" touch-button (onTouch)="switchKitchenSideLigths()">
          <img src="assets/img/kitchen_side_sm.png" class="img-style-kitchen"/>
        </button>

        <button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-img-kitchen mb-0" onclick="this.blur();" touch-button (onTouch)="switchKitchenFurnitureLights()">
          <img src="assets/img/furniture_sm.png" class="img-style-kitchen"/>
        </button>

      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-padding">
    <div class="panel panel-default">
      <div class="panel-heading">
        Gniazdka
      </div>
      <div class="panel-body  pb-1">
        <button type="button" class="btn btn-primary custom-btn-primary custom-btn btn-img-kitchen" onclick="this.blur();" [routerLink]="['/sockets']">
          <img src="assets/img/sockets_sm.png" class="img-style-kitchen"/>
        </button>
      </div>

      <div class="panel-heading">
        Oświetlenie
      </div>
      <div class="panel-body pb-1">
        <button type="button" class="btn btn-danger custom-btn-danger custom-btn btn-all-off" onclick="this.blur();"  touch-button (onTouch)="switchAllLightsOff()">WYŁĄCZ</button>
      </div>
      <div class="clock-panel">
        {{hours}}:{{minutes}}
      </div>
    </div>

  </div>


</div>





