<div id="color-picker" class="component-container" [style.width]="getSizeInPx()" [style.height]="getSizeInPx()">
<!--<canvas #canvas class="color-slider"  [width]="getSize()" [height]="getSize()" (mousedown)="onMouseDown($event)" (touchstart)="touchstart($event)" (touchmove)="touchmove($event)"  (mousemove)="onMouseMove($event)">-->
<!--</canvas>-->
  <canvas #canvas [width]="getSize()" [height]="getSize()" (mousedown)="onMouseDown($event)" (touchmove)="touchmove($event)"  (mousemove)="onMouseMove($event)">
  </canvas>
  <div class="center-circle"
       [style.top]="getCenterPosition()"
       [style.left]="getCenterPosition()"
       [style.width]="getCenterSize()"
       [style.height]="getCenterSize()"
       [style.border-radius]="getCenterBorderRadius()"
       [style.background-color]="getCenterColor()"
       (click)="onCenterRadiusClick()"
  ></div>
</div>
