.log-size-style {
  	font-size: 10px;
}

.filter-bar {
  	display: flex;
}

.bottom-align {
	margin: 0px;
	position: absolute;
	bottom: 0px;
}

.img-gear {
  cursor: pointer;
  height: 100%;
  width: 5%;
}

.logs-window {
	height: 320px;
	overflow: auto;
	background-color: #222;
	padding-left: 15px;
	resize: vertical;
	border: 1px solid transparent;
    border-radius: 0.25rem;
}

.log-row {
	margin-block-end: 0.3em;
	margin-bottom: 0;
}

.font-small {
	font-size: x-small;
	cursor: pointer;
}

.font-large {
	font-size: large;
	cursor: pointer;
}

.font-regular {
	cursor: pointer;
}

.font-selector {
	text-align: right;
}

.head-section {
	padding: 2rem;
}

.right-align-font-selector {
    right: 0;
    margin-right: 16px;
}


h2, .h2 {
  font-size: 5vw;
}

.flash-message-container {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.flash-message {
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}
