<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">IntelliHouseManager</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor02" style="">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = {exact:true}><a class="nav-link" [routerLink]="['/']">Home</a></li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = {exact:true}><a class="nav-link" [routerLink]="['/devicemanager']">Device Manager</a></li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = {exact:true}><a class="nav-link" [routerLink]="['/eventmanager']">Event Manager</a></li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = {exact:true}><a class="nav-link" [routerLink]="['/livingroom']">LivingRoom</a></li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = {exact:true}><a class="nav-link" [routerLink]="['/alarmpanel']">AlarmPanel</a></li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = {exact:true}><a class="nav-link" [routerLink]="['/widgetsgroupslist']">Actions Widgets</a></li>
      <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = {exact:true}><a class="nav-link" [routerLink]="['/backuprestore']">Backup-Restore</a></li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item" *ngIf="authService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="#">Logout</a></li>
    </ul>
  </div>
</nav>

