::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer {
  top: -8px;
  height: 20px;
  width: 20px;
  left: 0px;
}


::ng-deep .custom-slider .ng5-slider .ng5-slider-pointer:after {
  width: 0px;
}

::ng-deep .custom-slider .ng5-slider .ng5-slider-bubble {
  font-size: 12px;
  bottom: 7px;
}

::ng-deep .custom-slider .ng5-slider {
  height: 0px;
  margin-top: 29px;
}

.custom-slider {
  height: 140px;
}

.widget-name {
  text-align: center;
  background: #151515;
  border-radius: 7px;
  border-width: 1px;
  border-color: #5a5a5a;
  border-style: solid;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

.pwm-icon{
  border-radius: 25px;
    border: 2px solid;
    float: right;
    height: 50px;
    width: 50px;
    background: #000000;
}

.icon-container {
  text-align: center;
  display: inline-block;
}