<div id="widget">
	
  <div class="custom-slider">
  	<div class="mt-3 icon-container" *ngIf="showSliderGraphic">
			<div class="pwm-icon" [style.background]="getIconStyle()"></div>
		</div>
  	<div [style.padding-top]="getPaddingStyle()">
  		<ng5-slider [(value)]="value" [options]="sliderOptions" (userChange)="onUserChange($event)"></ng5-slider>
  	</div>
    
  </div>
  <div *ngIf="widget.name != undefined" class="widget-name mt-2" (click)="onNameClicked()">{{widget.name}}</div>
</div>
