<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-6" >
      <div class="row main-panel">
        <div class="col-md-6 col-xs-6">
          <button id="livingroomwalleffectset1" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="loadEffectConfig($event)" long-press  (onLongPress)="saveEffectConfig($event)">SET1</button>
          <button id="livingroomwalleffectset2" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="loadEffectConfig($event)" long-press  (onLongPress)="saveEffectConfig($event)">SET2</button>
          <button id="livingroomwalleffectset3" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="loadEffectConfig($event)" long-press  (onLongPress)="saveEffectConfig($event)">SET3</button>
          <button *ngIf="!isManualModeOn()" id="livingroomwalleffectmanual" type="button" class="btn btn-primary custom-btn-primary button-style" onclick="this.blur();" (click)="setManualMode()">Dostosuj</button>
        </div>
        <div class="col-md-6 col-xs-6">
          <button type="button" class="btn btn-primary custom-btn-primary button-effect-style" onclick="this.blur();" (click)="setDevicesMode(1)" >EFEKT 1</button>
          <button type="button" class="btn btn-primary custom-btn-primary button-effect-style" onclick="this.blur();" (click)="setDevicesMode(2)" >EFEKT 2</button>
          <button type="button" class="btn btn-primary custom-btn-primary button-effect-style" onclick="this.blur();" (click)="setDevicesMode(3)" >EFEKT 3</button>
          <button type="button" class="btn btn-primary custom-btn-primary button-effect-style" onclick="this.blur();" (click)="setDevicesMode(5)" >EFEKT 4</button>
          Prędkość:
          <div id="speed_section" class="speed-section">
            <button type="button" class="btn btn-primary custom-btn-primary btn-speed" onclick="this.blur();" (click)="increaseSpeed()" >+</button>
            {{speed}}
            <button type="button" class="btn btn-primary custom-btn-primary btn-speed" onclick="this.blur();" (click)="decreaseSpeed()" >-</button>
          </div>

        </div>
      </div>
      <button type="button" class="btn btn-success custom-btn-primary btn-back mt-3" onclick="this.blur();"  [routerLink]="['/livingroom']" >WRÓĆ</button>

    </div>

    <div class="col-md-6 col-xs-6 pt-3" >
      <div id="windows" class="windows-style pt-2 pb-2 pr-2 pl-2" *ngIf="isManualModeOn()" >
        <div id="salon_okno_gora" class="window-style img-div-container" [style.background-color]="getStyle('salon_okno_gora')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
          <img *ngIf="getSelected('salon_okno_gora')" src="../../../assets/img/checkbox.png" class="img-style">
        </div>

        <div id="salon_okno_srodek" class="window-style img-div-container" [style.background-color]="getStyle('salon_okno_srodek')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
          <img *ngIf="getSelected('salon_okno_srodek')" src="../../../assets/img/checkbox.png" class="img-style">
        </div>

        <div id="salon_okno_dol" class="window-style img-div-container" [style.background-color]="getStyle('salon_okno_dol')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">
          <img *ngIf="getSelected('salon_okno_dol')" src="../../../assets/img/checkbox.png" class="img-style">
        </div>

      </div>
    </div>


    <!--<div class="col-md-6 col-xs-6">-->
      <!--<div id="windows" class="windows-style" *ngIf="isManualModeOn()">-->
      <!--<div id="windows" class="windows-style" >-->
        <!--<div class="row frame-top">-->
          <!--<div class="window-frame frame-upper-left">-->
          <!--</div><div class="window-frame frame-top-center">-->
          <!--</div><div class="window-frame frame-top-right">-->
          <!--</div>-->
        <!--</div>-->
<!---->
<!---->
        <!--<div class="row window-level">-->
          <!--<div class="window-frame frame-left">-->
          <!--</div>-->
          <!--<div id="salon_okno_gora" class="window-style" [style.background-color]="getStyle('salon_okno_gora')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">-->
            <!--<div *ngIf="getSelected('salon_okno_gora')">SELECTED</div>-->
          <!--</div>-->
          <!--<div class="window-frame frame-rigth">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row frame-middle">-->
          <!--<div class="window-frame frame-middle-left">-->
          <!--</div>-->
          <!--<div class="window-frame frame-middle-center">-->
          <!--</div>-->
          <!--<div class="window-frame frame-middle-right">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row window-level">-->
          <!--<div class="window-frame frame-left">-->
          <!--</div>-->
          <!--<div id="salon_okno_srodek" class="window-style" [style.background-color]="getStyle('salon_okno_srodek')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">-->
            <!--<div *ngIf="getSelected('salon_okno_srodek')">SELECTED</div>-->
          <!--</div>-->
          <!--<div class="window-frame frame-rigth">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row frame-middle">-->
          <!--<div class="window-frame frame-middle-left">-->
          <!--</div>-->
          <!--<div class="window-frame frame-middle-center">-->
          <!--</div>-->
          <!--<div class="window-frame frame-middle-right">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row window-level">-->
          <!--<div class="window-frame frame-left">-->
          <!--</div>-->
          <!--<div id="salon_okno_dol" class="window-style" [style.background-color]="getStyle('salon_okno_dol')" (click)="goToColorPickerPage($event)" long-press (onLongPress)="selectDevice($event)">-->
            <!--<div *ngIf="getSelected('salon_okno_dol')">SELECTED</div>-->
          <!--</div>-->
          <!--<div class="window-frame frame-rigth">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row frame-bottom">-->
          <!--<div class="window-frame frame-bottom-left">-->
          <!--</div>-->
          <!--<div class="window-frame frame-bottom-center">-->
          <!--</div>-->
          <!--<div class="window-frame frame-bottom-right">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
<!---->
      <!--<button type="button" class="btn btn-primary custom-btn-primary btn-back" onclick="this.blur();"  [routerLink]="['/livingroom']" >WRÓĆ</button>-->
<!---->
    <!--</div>-->

  </div>
</div>
