.window-frame {
  background-color: darkblue;
}

.frame-top {
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  font-size: 0;
  line-height: 0px;
  justify-content: flex-start;
}

.frame-middle {
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-around;*/
}

.frame-bottom {
  height: 20px;
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-around;*/
}

.window-level {
  height: 22vh;
  display: flex;
  flex-flow: row wrap;
  /*justify-content: space-around;*/
}

.window-style {
  height: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border-style: inset;
}

.frame-upper-left {
  height: 100%;
  width: 20px;
  border-top-left-radius: 20px;
  outline: none;
}

.frame-top-center {
  height: 100%;
  flex: 1;
  outline: none;
}

.frame-top-right {
  height: 100%;
  width: 20px;
  border-top-right-radius: 20px;
  outline: none;
}

.frame-left {
  width: 20px;
}

.frame-rigth {
  width: 20px;
}

.frame-middle-left {
  width: 20px;
}

.frame-middle-center {
  flex: 1;
}

.frame-middle-right {
  width: 20px;
}

.frame-bottom-left {
  width: 20px;
  border-bottom-left-radius: 20px;

}

.frame-bottom-center {
  flex: 1;
}

.frame-bottom-right {
  width: 20px;
  border-bottom-right-radius: 20px;
}

.windows-style {
  background-color: #1b698e;
  display: grid;
  border-radius: 10px;
}

.custom-btn-primary:hover{
  color: #ffffff;
  background-color: #2a9fd6;
  border-color: #2a9fd6;
}

.custom-btn-primary:active{
  color: #ffffff;
  background-color: #1b698e;
  border-color: #15506c;
}

.button-style {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
   margin-top: 10px;
   height: 80px;
   display: block;
 }

.button-effect-style {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 60px;
  display: block;
}

.btn-back {
  width: 80%;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-speed {
  width: 30%;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.speed-section {
  text-align: center;
}


.main-panel {
  max-width: 1200px;
  margin: auto;
}

.img-div-container {

  position: relative;
  text-align: center;
}

.img-style {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25px;
  height: 25px;
}
