.op-name {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   /*width: 100px; */
}

.op-buttons {
  white-space: nowrap;
}

.flash-message-container {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.flash-message {
  display: block;
  margin-right: 10%;
  margin-left: 10%;
}
