<app-navbar></app-navbar>
<div class="flash-message-container">
  <div class="flash-message">
    <flash-messages></flash-messages>
  </div>
</div>
<div class="container  mt-2">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <div>
          <button type="button" *ngIf="operationManager.changed" class="btn btn-success mb-2 mr-2" (click)="onSaveOperations()">Save</button>
          <button type="button" *ngIf="operationManager.changed" class="btn btn-default mr-4 mb-2" (click)="onCancelOperations()">Cancel</button>
          <button type="button" (click)="goToOperationPage(0)" class="btn btn-primary mb-2 mr-2">Add Regular</button>
          <button type="button" (click)="goToOperationPage(1)" class="btn btn-primary mb-2 mr-2">Add Delayed</button>
          <button type="button" *ngIf="filter?.length > 0" class="btn btn-default mb-2" (click)="clearFilters()">Clear filters</button>

          <div>
            <input class="form-control" type="text" [(ngModel)]="filter" placeholder="Filter names">
          </div>

        </div>

        <div class="mt-2 mb-2">
          Operations List:
        </div>

        <div class="bs-component">


          <div class="list-group" id="eventList">
            <button *ngFor="let op of operationManager.operations | nameFilter:filter | orderBy: 'name': false:true" (click)="goToOperationPage(op.id)"
               class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
               [style.background-color]="getElementBackground(op)">
              <div class="op-name">
                {{op.name}}
              </div>
              <div class="op-buttons">
                <button type="button" *ngIf="op.active == '1'" class="btn btn-success mr-2" (click)="onDesactivate(op, $event)">Active</button>
                <button type="button" *ngIf="op.active == '0'" class="btn btn-warning mr-2" (click)="onActivate(op, $event)">Inactive</button>
                <button type="button" *ngIf="op.deleted == '1'" class="btn btn-outline-danger mr-2" (click)="onUndeleteOperation(op, $event)">Undelete</button>
                <button type="button" *ngIf="op.deleted == '0'" class="btn btn-danger" (click)="onDeleteOperation(op, $event)">Delete</button>
              </div>
            </button>
          </div>
        </div>

        <div class="mt-3">
          <button type="button" *ngIf="operationManager.changed" class="btn btn-success mr-2 mb-2" (click)="onSaveOperations()">Save</button>
          <button type="button" *ngIf="operationManager.changed" class="btn btn-default mr-4 mb-2" (click)="onCancelOperations()">Cancel</button>
          <button type="button" (click)="goToOperationPage(0)" class="btn btn-primary mb-2 mr-2">Add Regular</button>
          <button type="button" (click)="goToOperationPage(1)" class="btn btn-primary mb-2">Add Delayed</button>
        </div>

      </div>

    </div>
  </div>

</div>

