
::ng-deep .rgb-sliders .red-slider .ng5-slider .ng5-slider-pointer {
  background: rgb(255, 0, 0) !important;
  top: -8px;
  height: 20px;
  width: 20px;
  left: 0px;
}

::ng-deep .rgb-sliders .green-slider .ng5-slider .ng5-slider-pointer {
  background: rgb(0, 255, 0) !important;
  top: -8px;
  height: 20px;
  width: 20px;
  left: 0px;
}

::ng-deep .rgb-sliders .blue-slider .ng5-slider .ng5-slider-pointer {
  background: rgb(0, 0, 255) !important;
  top: -8px;
  height: 20px;
  width: 20px;
  left: 0px;
}

::ng-deep .rgb-sliders .red-slider .ng5-slider .ng5-slider-pointer:after {
  width: 0px;
}

::ng-deep .rgb-sliders .green-slider .ng5-slider .ng5-slider-pointer:after {
  width: 0px;
}

::ng-deep .rgb-sliders .blue-slider .ng5-slider .ng5-slider-pointer:after {
  width: 0px;
}

::ng-deep .rgb-sliders .red-slider .ng5-slider .ng5-slider-bubble {
  font-size: 12px;
  bottom: 7px;
}

::ng-deep .rgb-sliders .green-slider .ng5-slider .ng5-slider-bubble {
  font-size: 12px;
  bottom: 7px;
}

::ng-deep .rgb-sliders .blue-slider .ng5-slider .ng5-slider-bubble {
  font-size: 12px;
  bottom: 7px;
}

::ng-deep .rgb-sliders .red-slider .ng5-slider {
  height: 0px;
  margin-top: 29px;
}

::ng-deep .rgb-sliders .green-slider .ng5-slider {
  height: 0px;
  margin-top: 29px;
}

::ng-deep .rgb-sliders .blue-slider .ng5-slider {
  height: 0px;
  margin-top: 29px;
}

.rgb-sliders {
  height: 140px;
}

.widget-name {
  text-align: center;
  background: #151515;
  border-radius: 7px;
  border-width: 1px;
  border-color: #5a5a5a;
  border-style: solid;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}
